# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/mcp.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings
__screenshots__/

# System files
.DS_Store
Thumbs.db

# Manejadores de paquetes diferente a pnpm
package-lock.json
/.pnp
.pnp.*
yarn.lock
.yarn/*
yarn-debug.log*
yarn-error.log*
yarn-error.log

# IA
.playwright-cli
# Pantazallos de playwright-cli
/*.png
/*.jpg
/*.jpeg
# Archivos temporales con el mensaje de los commits que genera la skill git-commit
.claude/skills/git-commit/*.txt
