<section
  class="mx-auto max-w-9xl sm:max-w-sm px-8 sm:p-0 min-h-dvh flex items-center justify-center"
>
  <div class="w-full">
    <h1 class="text-center font-medium mb-6 md:mb-4 leading-6">Bienvenido</h1>

    <form [formRoot]="formLogin" autocomplete="off">
      <div class="mb-3">
        <label hlmLabel for="email" class="mb-1">Correo</label>
        <hlm-input-email
          id="email"
          placeholder="nombre@correo.com"
          [formField]="formLogin.email"
        />
        @if (formLogin.email().touched() && formLogin.email().invalid()) {
          @for (error of formLogin.email().errors(); track $index) {
            <p class="text-red-600">{{ error.message }}</p>
          }
        }
      </div>

      <div class="mb-3">
        <label hlmLabel for="password" class="mb-1">Contraseña</label>
        <hlm-input-password id="password" placeholder="********" [formField]="formLogin.password" />
        @if (formLogin.password().touched() && formLogin.password().invalid()) {
          @for (error of formLogin.password().errors(); track $index) {
            <p class="text-red-600">{{ error.message }}</p>
          }
        }
      </div>

      <div class="flex items-center justify-between mb-5 gap-x-1">
        <a routerLink="/recuperar-clave" class="btn btn-link"> ¿Olvidaste tu contraseña? </a>
      </div>

      <div class="flex justify-center mb-5">
        <button type="submit" class="btn btn-primary btn-background">Ingresar</button>
      </div>

      <div class="flex gap-x-2">
        <p class="text-[12px] xsm:text-sm">¿No tienes una cuenta?</p>
        <a routerLink="/registrarme" rel="noopener noreferrer" class="btn btn-link">Registrate!</a>
      </div>
    </form>
  </div>
</section>
