<section
  class="mx-auto max-w-[364px] sm:max-w-sm px-8 sm:p-0 min-h-dvh flex items-center justify-center"
>
  <div class="w-full">
    <h1 class="text-center font-medium text-2 sm:text-xl mb-6 md:mb-4 leading-6">
      Recuperar contraseña
    </h1>

    <form [formRoot]="formRecoverPassword" autocomplete="off">
      <div class="mb-3">
        <label hlmLabel for="email" class="mb-1">Correo</label>
        <hlm-input-email
          id="email"
          placeholder="nombre@correo.com"
          [formField]="formRecoverPassword.email"
        />
        @if (formRecoverPassword.email().touched() && formRecoverPassword.email().invalid()) {
          @for (error of formRecoverPassword.email().errors(); track $index) {
            <p class="text-red-600">{{ error.message }}</p>
          }
        }
      </div>

      <div class="flex justify-center mb-5">
        <button type="submit" class="btn btn-primary btn-background">Recuperar Contraseña</button>
      </div>

      <a routerLink="/iniciar-sesion" class="btn btn-link"> Volver a inicio de sesión </a>
    </form>
  </div>
</section>
